requests
gtfs-realtime-bindings
pyyaml
pandas
numpy
matplotlib
seaborn
notebook
jupyterlab
nbstripout
pyarrow
python-dotenv
boto3
s3fs==2025.10.0
xgboost
psutil
scikit-learn
rapidfuzz
joblib
streamlit
streamlit-folium
folium
streamlit-geolocation
papermill
geopandas
shapely
