requests
gtfs-realtime-bindings
protobuf
pyyaml
pandas
numpy
matplotlib
seaborn
notebook
jupyterlab
gitpython
schedule
pyarrow
python-dotenv
boto3
s3fs==2025.10.0
xgboost
scikit-learn
rapidfuzz
joblib
